<div ng-controller="advanceController">
	<form name = "myform" ng-submit="fetch()">
		<input type="number" name="input" ng-model="dnumber" min="0" required />
		<span ng-show="myform.dnumber.$error.required">Required!</span>
		<span ng-show="myForm.dnumber.$error.integer">Not valid number!</span>
		<input type="submit" value="fetch">
	</form>
	<div ng-show="mydataAdvance">
		<div id="checkbox">
			UserId: <span ng-repeat="(key, value) in filterData | groupBy: 'userId'" >
				{{ key }}<input type="checkbox" ng-checked="true" ng-click="adddelete(key)"/>
			</span>
			<input ng-model="search" placeholder="search"/></br>
		</div>
		<ul>
		  <li ng-repeat="(key, value) in selection | groupBy: 'userId'">
		    UserId: {{ key }}
		    <ul>
		      <li ng-repeat="text in value | filter:search">
		        Title: <p ng-bind="text.title"></p>
				Body: <p ng-bind="text.body | limitTo:100"></p>
		      </li>
		    </ul>
		  </li>
		</ul> 
	</div>
</div>
