<div ng-controller="advanceController">
	<form name = "myform" ng-submit="fetch()">
		<input type="number" name="input" ng-model="dnumber" min="0" required />
		<input type="submit" value="fetch">
		<div style="color:red" ng-show="myform.input.$error && myform.input.$invalid">
			<div ng-show="myform.input.$error.required">Please enter some value</div>
			<div ng-show="myform.input.$error.number">Please enter a number</div>
		</div>
	</form>
	<div ng-show="mydataAdvance">
		<div id="checkbox" ng-show="filterData.length>0">
			UserId: <span ng-repeat="(key, value) in filterData | groupBy: 'userId'" >
				{{ key }}<input type="checkbox" ng-checked="true" ng-click="adddelete(key)"/>
			</span>
			<input ng-model="search" placeholder="search"/></br>
		</div>
		<ul>
		  <li ng-repeat="(key, value) in selection | groupBy: 'userId'">
		    UserId: {{ key }}
		    <ul>
		      <li ng-repeat="text in value | filter:search">
		        Title: <p ng-bind="text.title"></p>
				<p>Body: </p>
				<p class="pbody" ng-show="text.body.length > 100" ng-bind="text.body | limitTo:100"><p class="dots">..........</p></p>
				<p class="pbody" ng-show="text.body.length <= 100" ng-bind="text.body">
		      </li>
		    </ul>
		  </li>
		</ul> 
	</div>
</div>

