
<div ng-controller="UserController">
    	<div ng-show='true'>
    		<button ng-click="toggle()">ADD</button></br></br></br>
    	</div>
    	<div ng-show="myform">    		
	    	<form name="AddForm" ng-submit="add(user)">
                <p>
    	    		Name:<input type="text" name="name" ng-model="user.name" required=""/>
                    <snap style="color:red" ng-messages="AddForm.name.$error" ng-if="AddForm.name.$invalid">
                        <snap ng-message="required">Username is required</snap>
                    </snap>
                </p>
    	    	<p>
    	    		Email:<input type="text" name="email" ng-model="user.email" required="" />
                    <snap style="color:red" ng-messages="AddForm.email.$error" ng-if="AddForm.email.$invalid">
                        <snap ng-message="required">Email is required</snap>
                    </snap>
                </p>
                <input type="submit" value="{{ submittext }}">
                
            </form></br></br></br>
	    </div>
    	
    	<table border="5" ng-show="mydataBasic">
    		<tr>
    			<th>Id</th>
    			<th>Name</th>
    			<th>Email</th>
    		</tr>
    		<tr ng-repeat="user1 in users">
    			<td ng-bind="index = users.indexOf(user1)+1"></td>
    			<td ng-bind="user1.name"></td>
    			<td ng-bind="user1.email"></td>
    			<td><button ng-click="edit(user1.name,user1.email,users.indexOf(user1),this)">Edit</button></td>
    			<td><button ng-click="delete(index-1)">Delete</button></td>
    		</tr>
    	</table>
</div>
