
<div ng-controller="UserController">
    	<div ng-show='true'>
    		<button ng-click="toggle()">ADD</button></br></br></br>
    	</div>
    	<div ng-show="myform">    		
	    	<form ng-submit="add(user)">
                <p>
    	    		Name:<input type="text" ng-model="user.name" />
    	    	</p>
    	    	<p>
    	    		Email:<input type="text" ng-model="user.email" />
    	    		<input type="submit" value="{{ submittext }}">
                </p>
            </form></br></br></br>
	    </div>
    	
    	<table border="5" ng-show="mydataBasic">
    		<tr>
    			<th>Id</th>
    			<th>Name</th>
    			<th>Email</th>
    		</tr>
    		<tr ng-repeat="user1 in users">
    			<td ng-bind="index = users.indexOf(user1)+1"></td>
    			<td ng-bind="user1.name"></td>
    			<td ng-bind="user1.email"></td>
    			<td><button ng-click="edit(user1.name,user1.email,users.indexOf(user1),this)">Edit</button></td>
    			<td><button ng-click="delete(index-1)">Delete</button></td>
    		</tr>
    	</table>
</div>