
<div ng-controller="UserController">
    <div ng-model="UserInfo">
    	<div ng-show='true'>
    		<button ng-click="toggle()">ADD</button>
    	</div>
    	<div ng-show="myform">    		
	    	<p>
	    		Name:<input type="text" ng-model="UserInfo.name" />
	    	</p>
	    	<p>
	    		Email:<input type="text" ng-model="UserInfo.email" />
	    		<button ng-click="add()">Add User</button>
	    	</p></br></br></br>
	    </div>
    	
    	<table border="5" ng-show="mydata">
    		<tr>
    			<th>Id</th>
    			<th>Name</th>
    			<th>Email</th>
    		</tr>
    		<tr ng-repeat="user in users">
    			<td>{{users.indexOf(user)+1}}</td>
    			<td>{{user.name}}</td>
    			<td>{{user.email}}</td>
    			<td><button ng-click="edit(user)">Edit</button></td>
    			<td><button ng-click="delete(user.indexOf(user)+1)">Delete</button></td>
    		</tr>
    	</table>
    </div>
</div>