#center {
    margin: 0 auto;
    width: 960px;
}
body{
	margin-top: 50px;
}

span.ng-binding.ng-scope {
margin-left: 10px;
}

input.ng-pristine.ng-untouched.ng-valid {
margin-left: 15px;
}

div#checkbox {
margin-top: 20px;
margin-bottom: 20px;
}
.pbody {
	display: inline;
}
.dots {
	display: inline;
}